<footer>
    <div class="container">
        <div class="footer">
            <h2>- get in touch with us -</h2>
            <p>Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio. Curabitur blandit tempus porttitor vollisky inceptos mollisestor.</p>
            <div class="icon">
                <img src="@img/rss.svg">
                <img src="@img/icon-f.svg">
                <img src="@img/icon-twitter.svg">
                <img src="@img/icon-drrrible.svg">
                <img src="@img/icon-printers.svg">
            </div>
            <ul>
                <li> Moonshine St. 14-05 Light City<span>/</span></li>
                <li>T. +00 (123) 456 78 90<span>/</span></li>
                <li>first.last@email.com</li>
            </ul>
        </div>
    </div>
</footer>