<header>
   <div class="header">
       <ul class="naw">
           <li>
               <a href="#">Home</a>
           </li>
           <li>
            <a href="#">About Us</a>
        </li>
        <li>
            <a href="#">Our Journal</a>
        </li>
        <li>
            <a href="#">Projects</a>
        </li>
        <li>
            <a href="#">news</a>
        </li>
        <li>
            <a href="#">features</a>
        </li>
        <li>
            <a href="#">contact</a>
        </li>
       </ul>
       <div class="menu-drop-down">
        <button class="btn-menu-mb menu-btn"><img src="@img/menu-btn.svg"></button>
        <button class="btn-menu-mb close"><img src="@img/menu-mb-close.svg"></button>
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
             <a href="#">About Us</a>
         </li>
         <li>
             <a href="#">Our Journal</a>
         </li>
         <li>
             <a href="#">Projects</a>
         </li>
         <li>
             <a href="#">news</a>
         </li>
         <li>
             <a href="#">features</a>
         </li>
         <li>
             <a href="#">contact</a>
         </li>
        </ul>
       </div>
   </div>
</header>