body{
    font-family: 'Roboto', sans-serif;
    background: $bg-body;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}
h2{
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: $grey-text;
}
   h3{
    font-weight: 700;
    font-size: 13px;
    line-height: 22px;
    text-transform: uppercase;
    color: $grey-text;
    margin: 0;            
    }
