footer{
    background-color:  $black;
    padding: 66px 0 70px 0;
    .footer{
        @include flex-center;
        @include flex-column;
        h2{
            color: $white-text;
            margin-bottom: 22px;
        }
        p{
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: $light-grey;
            margin-bottom: 37px;
            text-align: center;
        }
        .icon{
            @include flex-center;
            gap: 0 6px;
            margin-bottom: 34px;
        }
        ul{
            @include flex-center;
            list-style: none;
            margin: 0;
            padding: 0;
            li{
                font-size: 16px;
                line-height: 26px;
                color: $light-grey;
                margin: 0 5px;
                span{
                    margin-left: 10px;
                }
            }
        }
    }
}