header{
    margin: 25px 0 30px 0;
    padding: 20px 0;
    position: relative;
    ul{
        @include flex-center;
        li{
            margin-left: 50px;
            &:first-child{
                margin-left: 0;
            }
            a{
                    font-size: 11px;
                    line-height: 22px;
                    text-transform: uppercase;
                    color: $grey-text;
                    text-decoration: none;
                &:hover{
                    color: $hover-green;
                }
            }
        }
    }
    .btn-menu-mb{
        border: none;
        background-color: $black;
        cursor: pointer;
        padding: 0;
        width: max-content;
        img{
            width: 44px;
            height: 37px;
        }
    }
    .active{
        .close{
            display: block !important;
        }
        .menu-btn{
            display: none;
        }
        ul{
            display: block !important;
        }
    }
    .menu-drop-down{
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        display: none;
        .close{
            display: none
        }
        ul{
            @include flex-column;
            list-style: none;
            padding: 0;
            margin: 0;
            justify-content: flex-start !important;
            align-items: flex-start !important;
            background-color: $bg-menu-btn;
            width: 182px;
            li{
                margin-left: 0;
                padding: 4px 4px 4px 14px;
                width: 100%;
                &:hover{
                    background-color: $hover-grey;
                }
                a{
                    &:hover{
                        color: $grey-text;
                    }
                }
            }
        }
    }
}