main{
    .recent-posts{
        margin: 66px 0 37px 0;
        h2{
            margin-bottom: 24px;
        }
        .list{
            display: grid;
            grid-template: auto / repeat(2, 1fr);
            gap: 32px;
            
            &-item{
                display: grid;
                grid-template-columns: 150px auto;
                .img{
                    img{
                        width: 160px;
                        height: 140px;
                    }
                }
                .text{
                    margin-left: 20px;
                    .title{
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 30px;
                        color: $grey-text;
                    }
                    span{
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 20px;
                        color: $light-grey-text;
                    }
                    p{
                        font-size: 14px;
                        line-height: 26px;
                        color: $grey-text;
                    }
                }
            }
        }
    }
}
.gallery-block{
    background-color: $hover-grey;
    padding: 46px 0;
    .gallery{
        display: flex;
        gap: 0 10px;
        &-text{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }
        &-item{
            display: flex;
            justify-content: flex-end;
            @include flex-column;
            &:last-child{
                align-items: flex-end;
            }
            img{
                margin-top: 24px;
            }
        }
    }
}