@media only screen and (max-width: 768px) {
    .container{
        padding: 0 80px;
    }
    .header{
        ul{
            li{
                margin-left: 34px;
            }
        }
}
    .recent-posts{
        .list{
            grid-template: auto / repeat(1, 1fr) !important;
            &-item{
                padding-right: 0;
                max-width: 72%;
            }
        }
    }
    .gallery{
        &-item{
            &:last-child{
                display: none;
            }
        }
    }
}
@media only screen and (max-width: 320px) {
    .container{
        padding: 0 25px;
    }
    h2{
        font-size: 14px !important;
    }
    .naw{
        display: none;
    }
        .menu-drop-down{
            display: flex !important;
            ul{
                display: none;
            }
        }
            .recent-posts{
            margin-top: 38px !important;
        }
        .list{
            &-item{
                display: flex !important;
                flex-direction: column;
                .text{
                    margin-left: 0 !important;
                    margin-top: 11px;
                    width: max-content;
                    .title{
                        font-size: 14px !important;
                    }
                    span{
                        font-size: 11px !important;
                    }
                    p{
                        display: none;
                    }
                }
            }
        }
        .gallery-block{
            background: $bg-body;
           .gallery{
            &-text{
                margin-bottom: 0 !important;
                h3{
                    display: none;
                }
            }
            &-item{
                display: none;
                &:first-child{
                    display: block;
                }
            }
           }
        }
      footer{
          padding: 38px 0 47px 0;
        .footer{
            .icon{
                margin-bottom: 25px !important;
            }
            p{
                font-size: 12px !important;
                line-height: 20px !important;
                margin-bottom: 25px !important;
            }
            ul{
                flex-direction: column !important;
                li{
                    font-size: 14px !important;
                    line-height: 24px !important;
                }
            }
        }
      }
}


