$bg-body: rgba(0, 0, 0, 0.0001);
$grey-text: #4E4E4E;
$black: #000000;
$white-text: #FEFEFE;
$light-grey: #B9B9B9;
$hover-green: #57A4A4;
$bg-menu-btn: #efefef;
$hover-grey: #E5E5E5;
$light-grey-text: #7C7C7C;